<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/react-apexcharts"></script>
        <link rel = "stylesheet" href = "style.css">
        <title>Project</title>
    </head>
    <body>
        <div class = "grid-container">
            <header class = "header-style">
                <div>
                    <a class = "logo" href = "index.html">Home</a>
                </div>
                <div>
                    <a href = "signin.html">Sign In</a>
                </div>
            </header>
            <main>
                some info
            </main>
            <footer class = "footer-style">
                Heather Thorburn
            </footer>
        </div>
    </body>

</html>