html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #2B7A7B;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #2B7A7B;
    color: #FFFFFF;
}

.header-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
}

.footer-style {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

